<!-- Navigation -->
    <!-- <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container"> -->
                
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- <div class="navbar-header">
                    <a class="navbar-brand page-scroll" href="#page-top">
                        <div class="nav">
                            {% include logo.svg %}
                        </div>
                    </a>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% for menuitem in site.menuitems %}
                    <li>
                        <a class="page-scroll" href="{{ menuitem.href }}">{{menuitem.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div> -->
            <!-- /.navbar-collapse -->
        <!-- </div> -->
        <!-- /.container-fluid -->

    <!-- </nav> -->
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                 {% include logo.svg %}
                </br>
                <!-- <a href="mailto:{{ site.email | encode_email }}" title="Email us">micael@carlstedt.com</a>
                <a href="tel:{{ site.phone | encode_email }}" title="Email us">+46722009494</a>
            
                </br> -->
                </br>    
                </br>
                <a href="#services" class="page-scroll">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-angle-double-down fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

