#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -98px;
    margin-left: -260px; 
    width: 520px;
    height: 196px;
    background-color: white;
}

#customersCircle { transition: 1s; }
#myCircle { transition: 1s; }

a:hover #customersCircle { 
	opacity: 0.5;
 }
 a:hover #myCircle { 
	opacity: 0.5;
 }